.filters {
  width: 260px;
  min-width: 260px;
  position: sticky;
  top: 0;
  background-color: #262626;
  padding: 15px;
  height: 100vh;
}

.searchBar h3, .sortBy h3, .genres h3 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 22px;
  margin-bottom: 5px;
}

.searchBar input {
  padding: 8px;
  background-color: #1c1c1c;
  width: 100%;
  border-radius: 4px;
  outline-color: none;
}

.sortBy {
  margin-top: 20px;
}

.sortByButtons {
  background-color: #1c1c1c;
}

.sortByButtons button, .genreList button {
  background-color: #1c1c1c;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
}

.sortByButtons button:hover, .genreList button:hover {
  background-color: #333333;
  cursor: pointer;
}

.genres {
  margin-top: 20px;
}

.genreList {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
}

.genreList button {
  background-color: #1c1c1c;
  color: #ffffff;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
}