.header {
  display: flex;
  gap: 42px;
  align-items: center;
  padding: 0 100px;
  height: 69px;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 40;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 42px;
}

.ul li {
  font-size: 14px;
  color: #ffffff;
}

.loginButton {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
}

.loginButton:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.sessionExpired {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  margin-left: auto;
  text-align: center;
}