.header {
  display: flex;
  gap: 42px;
  align-items: center;
  padding: 0 100px;
  height: 69px;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 40;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 42px;
}

.ul li {
  font-size: 14px;
  color: #ffffff;
}